.jumbotron{
    padding-top: 6rem;
    background: #e2edff;
}
.about{
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#project{
    background: #e2edff;
}
section{
    padding-top: 5rem;
}
.moon{
    color: #7f1d1d;
}